{% extends 'common.html' %}
{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}
{% block body %}
    <div class="container" style="padding-top: 50px">
        <div class="row">
            <div class="offset-3 col-6">
                <div style="height: 50px"></div>
                <div id="chart_container" style="width:100%; height:400px;"></div>
                <form id="blog_form" method="post" enctype="multipart/form-data" onsubmit="submit_data(); return false">
                    <div class="row mt-3">
                        <div class="col-3">
                            <label for="form_file_train" class="form-label">Training set:</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control" type="file" id="form_file_train" name="form_file_train" accept=".csv" aria-describedby="error_train">
                        </div>
                        <div class="col-3">
                            <div id="error_train" class="form-text text-danger"></div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <label for="form_file_test" class="form-label">Testing set:</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control" type="file" id="form_file_test" name="form_file_test" accept=".csv" aria-describedby="error_test">
                        </div>
                        <div class="col-3">
                            <div id="error_test" class="form-text text-danger"></div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="form_submit" type="submit" class="btn btn-outline-primary">Submit</button>
                        <br>
                        After clicking, please wait for about 30 seconds.
                    </div>
                </form>
                <script>
                    var original_data = {{ original_data }};
                    var predicted_data = {{ predicted_data }};
                    var chart = Highcharts.chart('chart_container', {
                        chart: {
                            type: 'line',
                            zoomType: 'x'
                        },
                        title: {
                            text: 'Hourly Demand Prediction'
                        },
                        subtitle: {
                            text: 'By Kowloon Tong MMW'
                        },
                        xAxis: {
                            type: 'datetime',
                            dateTimeLabelFormats: {
                                millisecond: '%H:%M:%S.%L',
                                second: '%H:%M:%S',
                                minute: '%H:%M',
                                hour: '%H:%M',
                                day: '%m-%d',
                                week: '%m-%d',
                                month: '%Y-%m',
                                year: '%Y'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Value'
                            }
                        },
                        series: [{
                            name: 'Actual',
                            data: original_data
                        }, {
                            name: 'Predicted',
                            data: predicted_data
                        }]
                    });

                    /*
                    var chart = Highcharts.chart('chart_container', {
                        chart: {
                            type: 'arearange',
                            zoomType: 'x'
                        },
                        title: {
                            text: 'Hourly Demand Prediction'
                        },
                        subtitle: {
                            text: 'By Kowloon Tong MMW'
                        },
                        xAxis: {
                            type: 'datetime',
                            dateTimeLabelFormats: {
                                millisecond: '%H:%M:%S.%L',
                                second: '%H:%M:%S',
                                minute: '%H:%M',
                                hour: '%H:%M',
                                day: '%m-%d',
                                week: '%m-%d',
                                month: '%Y-%m',
                                year: '%Y'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Value'
                            }
                        },
                        series: [{
                            name: 'Actual/Predicted',
                            data: [[1370131200000, 1, 5], [1370217600000, 2, 6], [1370304000000, 3, 7], [1370390400000, 4, -1]]
                        }]
                    });

                     */

                    function submit_data() {
                        $("#form_submit").attr({"disabled": "disabled"});
                        var formData = new FormData(document.getElementById('blog_form'));
                        var err_train = $('#error_train')[0], err_test = $('#error_test')[0];
                        err_train.innerText = "";
                        err_test.innerText = "";
                        $.ajax({
                            url: "{{ url_for('index.upload_data') }}",
                            type: "POST",
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            dataType: 'json',
                            success: function(e) {
                                if(e['status'] === 'failure') {
                                    var bool = 1;
                                    if(e['msg'] === 'csv_train/empty_file') {
                                        err_train.innerText = "Empty File!";
                                        bool = 0;
                                    }
                                    else if(e['msg'] === 'csv_train/wrong_extension')
                                        err_train.innerText = "Wrong File Type!";
                                    else if(e['msg'] === 'csv_train/wrong_file')
                                        err_train.innerText = "Wrong File!";
                                    else if(e['msg'] === 'csv_test/empty_file') {
                                        err_test.innerText = "Empty File!";
                                        bool = 0;
                                    }
                                    else if(e['msg'] === 'csv_test/wrong_extension')
                                        err_test.innerText = "Wrong File Type!";
                                    else if(e['msg'] === 'csv_test/wrong_file')
                                        err_test.innerText = "Wrong File!";
                                    if(bool === 1)
                                        document.querySelector('#blog_form').reset();
                                }
                                else {
                                    alert(e['status']);
                                    location.href = "{{ url_for('index.index') }}"
                                }
                                $("#form_submit").removeAttr("disabled");
                            },
                            error: function() {
                                alert('Internal Server Error!');
                                document.querySelector('#blog_form').reset();
                                $("#form_submit").removeAttr("disabled");
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
{% endblock %}